# App
NUXT_PUBLIC_SITE_URL="http://localhost:3000"

# Google
NUXT_PUBLIC_GOOGLE_SITE_VERIFICATION=""

# Auth
BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_SECRET=""
BETTER_AUTH_TRUSTED_ORIGINS=""

# Drizzle
DATABASE_URL="postgres://vue_template_local:postgres@localhost:5436/vue_template_local_db"

# Docker Compose
COMPOSE_PROJECT_NAME="vue-template"
COMPOSE_REMOVE_ORPHANS=1
COMPOSE_PARALLEL_LIMIT=4
COMPOSE_PROGRESS="plain"
COMPOSE_MENU=0

# PostgreSQL
POSTGRES_VERSION="16"
POSTGRES_USER="vue_template_local"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="vue_template_local_db"
POSTGRES_PORT=5436

# SMTP
SMTP_HOST="localhost"
SMTP_PORT="1027"
SMTP_USER=""
SMTP_PASSWORD=""
SMTP_FROM="noreply@vue-template.test"

# Mailpit
MAILPIT_VERSION="v1.30.6"
MAILPIT_BIND="127.0.0.1"
MAILPIT_SMTP_PORT=1027
MAILPIT_WEB_PORT=8026
