# Environment files
*.env
!.env-*

# Dependencies files
node_modules

# Build output files
build
dist
.nuxt
.output
nuxt.d.ts

# Tooling caches files
.cache/.eslintcache
.eslint-config-inspector
.cache/.prettiercache
.cache/.stylelintcache
.cache/tsbuildinfo.json

# OS files
.DS_Store
.AppleDouble
.LSOverride

# Compiled artifacts files
*.com
*.class
*.dll
*.exe
*.o
*.so

# Secrets files
*.der
*.key
*.pem
