# Dependencies files
node_modules

# Build output files
build
dist
dev-dist
coverage
public

# Environment files
**/.env
**/.env.*

# Git files
**/.gitignore
**/.gitkeep

# Tooling files
**/.prettierignore
**/*.tsbuildinfo

# Lock files
package-lock.json
