# Markdown
*.md

# Dependencies
node_modules

# Build output
build
dist
dev-dist
coverage
public

# Environment
**/.env
**/.env.*

# Config
**/.vscode
**/.idea

# Git
**/.gitignore
**/.gitkeep

# Tooling files
**/.prettierignore
**/*.tsbuildinfo

# Lock files
package-lock.json
