$c-primary: #075985;
$c-white: #FFFFFF;
$c-gray: #858A96;
$c-gray-dark: #7A808D;
$c-gray-light: #D8DBE1;

$spacer: 1rem;

$fs-1: 1rem;
$fs-2: 1.125rem;
$fs-3: 1.25rem;
$fs-4: 1.5rem;
$fs-5: 1.75rem;
$fs-6: 2rem;
