@import 'tailwindcss';
@import '@nuxt/ui';
@import '@fontsource-variable/geist';

@theme {
    --font-sans: 'Geist Variable', ui-sans-serif, system-ui, sans-serif;
}

:root {
    --ui-primary: var(--ui-color-neutral-900);
}

.dark {
    --ui-primary: var(--ui-color-neutral-100);
}
